---
http_interactions:
- request:
    method: get
    uri: http://diufvm31.unifr.ch:8090/CyberCoachServer/resources/users/brandnewuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uri":"/CyberCoachServer/resources/users/brandnewuser/","username":"brandnewuser","password":"*","realname":"bla","email":"bl@bl.ch","datecreated":1449756644198,"publicvisible":2}'
  recorded_at: Thu, 10 Dec 2015 14:18:33 GMT
- request:
    method: delete
    uri: http://brandnewuser:incorrectpassword@diufvm31.unifr.ch:8090/CyberCoachServer/resources/users/brandnewuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - basic realm="userdbauth"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 10 Dec 2015 14:18:33 GMT
recorded_with: VCR 2.9.3
