---
http_interactions:
- request:
    method: get
    uri: http://diufvm31.unifr.ch:8090/CyberCoachServer/resources/users/user321
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uri":"/CyberCoachServer/resources/users/user321/","username":"user321","password":"*","realname":"Real
        User","email":"user@test.rs","datecreated":1448741688000,"publicvisible":2,"partnerships":[{"uri":"/CyberCoachServer/resources/partnerships/user123;user321/","id":9349}]}'
  recorded_at: Mon, 07 Dec 2015 16:20:51 GMT
- request:
    method: get
    uri: http://user321:test321@diufvm31.unifr.ch:8090/CyberCoachServer/resources/authenticateduser/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uri":"/CyberCoachServer/resources/users/user321/","username":"user321","password":"*","realname":"Real
        User","email":"user@test.rs","datecreated":1448741688000,"publicvisible":2}'
  recorded_at: Mon, 07 Dec 2015 16:20:51 GMT
- request:
    method: put
    uri: http://user321:test321@diufvm31.unifr.ch:8090/CyberCoachServer/resources/users/user321
    body:
      encoding: UTF-8
      string: "<user><password>test321</password><realname>Real User</realname></user>"
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uri":"/CyberCoachServer/resources/users/user321/","username":"user321","password":"*","realname":"Real
        User","email":"user@test.rs","datecreated":1448741688000,"publicvisible":2,"partnerships":[{"uri":"/CyberCoachServer/resources/partnerships/user123;user321/","id":9349},{"uri":"/CyberCoachServer/resources/partnerships/user1234567;user321/","id":10338}]}'
  recorded_at: Mon, 07 Dec 2015 16:20:52 GMT
recorded_with: VCR 2.9.3
