---
http_interactions:
- request:
    method: get
    uri: http://diufvm31.unifr.ch:8090/CyberCoachServer/resources/users/brandnewuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uri":"/CyberCoachServer/resources/users/brandnewuser/","username":"brandnewuser","password":"*","realname":"A
        real name","email":"email@address.com","datecreated":1449504807251,"publicvisible":2}'
  recorded_at: Mon, 07 Dec 2015 16:20:52 GMT
- request:
    method: get
    uri: http://brandnewuser:password@diufvm31.unifr.ch:8090/CyberCoachServer/resources/authenticateduser/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uri":"/CyberCoachServer/resources/users/brandnewuser/","username":"brandnewuser","password":"*","realname":"A
        real name","email":"email@address.com","datecreated":1449504807251,"publicvisible":2}'
  recorded_at: Mon, 07 Dec 2015 16:20:53 GMT
- request:
    method: delete
    uri: http://brandnewuser:password@diufvm31.unifr.ch:8090/CyberCoachServer/resources/users/brandnewuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><user datecreated="2015-12-07T17:13:27.251+01:00"
        username="brandnewuser" uri="/CyberCoachServer/resources/users/brandnewuser/"><email>email@address.com</email><password>*</password><publicvisible>2</publicvisible><realname>A
        real name</realname></user>
  recorded_at: Mon, 07 Dec 2015 16:20:58 GMT
recorded_with: VCR 2.9.3
