---
http_interactions:
- request:
    method: get
    uri: http://diufvm31.unifr.ch:8090/CyberCoachServer/resources/users/?size=5&start=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uri":"/CyberCoachServer/resources/users/","links":[{"href":"/CyberCoachServer/resources/users/?start=5&size=5","description":"next"}],"start":0,"end":5,"available":23495,"type":"users","users":[{"uri":"/CyberCoachServer/resources/users/016qgolmptihkudvscayner8x5/","username":"016qgolmptihkudvscayner8x5"},{"uri":"/CyberCoachServer/resources/users/01h3ds6qgbuvm9xkct7j2ieynazw4orf58pl/","username":"01h3ds6qgbuvm9xkct7j2ieynazw4orf58pl"},{"uri":"/CyberCoachServer/resources/users/01j6di8ofa/","username":"01j6di8ofa"},{"uri":"/CyberCoachServer/resources/users/01nfkrmczxjbvysh/","username":"01nfkrmczxjbvysh"},{"uri":"/CyberCoachServer/resources/users/01pacfl9m8wodr/","username":"01pacfl9m8wodr"}]}'
  recorded_at: Mon, 07 Dec 2015 15:26:01 GMT
recorded_with: VCR 2.9.3
