---
http_interactions:
- request:
    method: post
    uri: http://diufvm31.unifr.ch:8090/CyberCoachServer/resources/users/user123/cycling
    body:
      encoding: UTF-8
      string: "<entrycycling><publicvisible>1</publicvisible></entrycycling>"
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - basic realm="userdbauth"
      Content-Type:
      - text/html;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: "<html>\n<head>\n<meta http-equiv=\"Content-Type\" content=\"text/html;
        charset=ISO-8859-1\"/>\n<title>Error 401 Unauthorized</title>\n</head>\n<body><h2>HTTP
        ERROR 401</h2>\n<p>Problem accessing /CyberCoachServer/resources/users/user123/cycling.
        Reason:\n<pre>    Unauthorized</pre></p><hr /><i><small>Powered by Jetty://</small></i><br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n\n</body>\n</html>\n"
  recorded_at: Sun, 29 Nov 2015 15:50:18 GMT
recorded_with: VCR 2.9.3
