---
http_interactions:
- request:
    method: get
    uri: http://diufvm31.unifr.ch:8090/CyberCoachServer/resources/users/?size=20&start=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uri":"/CyberCoachServer/resources/users/","links":[{"href":"/CyberCoachServer/resources/users/?start=22&size=20","description":"next"},{"href":"/CyberCoachServer/resources/users/?start=0&size=20","description":"previous"}],"start":2,"end":22,"available":23495,"type":"users","users":[{"uri":"/CyberCoachServer/resources/users/01j6di8ofa/","username":"01j6di8ofa"},{"uri":"/CyberCoachServer/resources/users/01nfkrmczxjbvysh/","username":"01nfkrmczxjbvysh"},{"uri":"/CyberCoachServer/resources/users/01pacfl9m8wodr/","username":"01pacfl9m8wodr"},{"uri":"/CyberCoachServer/resources/users/02734ioxgus1prhjy6cb/","username":"02734ioxgus1prhjy6cb"},{"uri":"/CyberCoachServer/resources/users/027luaoi1v/","username":"027luaoi1v"},{"uri":"/CyberCoachServer/resources/users/02g4rsohcxbunaye78f9q53djtlkm6wvzp1i/","username":"02g4rsohcxbunaye78f9q53djtlkm6wvz[...]
- request:
    method: get
    uri: http://diufvm31.unifr.ch:8090/CyberCoachServer/resources/users/?size=2&start=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uri":"/CyberCoachServer/resources/users/","links":[{"href":"/CyberCoachServer/resources/users/?start=2&size=2","description":"next"}],"start":0,"end":2,"available":23495,"type":"users","users":[{"uri":"/CyberCoachServer/resources/users/016qgolmptihkudvscayner8x5/","username":"016qgolmptihkudvscayner8x5"},{"uri":"/CyberCoachServer/resources/users/01h3ds6qgbuvm9xkct7j2ieynazw4orf58pl/","username":"01h3ds6qgbuvm9xkct7j2ieynazw4orf58pl"}]}'
  recorded_at: Mon, 07 Dec 2015 15:26:02 GMT
recorded_with: VCR 2.9.3
