---
http_interactions:
- request:
    method: get
    uri: http://diufvm31.unifr.ch:8090/CyberCoachServer/resources/users/?size=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uri":"/CyberCoachServer/resources/users/","links":[{"href":"/CyberCoachServer/resources/users/?start=0&size=0","description":"next"}],"start":0,"end":0,"available":23495,"type":"users","users":[]}'
  recorded_at: Mon, 07 Dec 2015 15:12:30 GMT
recorded_with: VCR 2.9.3
