---
http_interactions:
- request:
    method: get
    uri: http://diufvm31.unifr.ch:8090/CyberCoachServer/resources/users/user123/running
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uri":"/CyberCoachServer/resources/users/user123/Running/","id":825,"datesubscribed":1447014940000,"publicvisible":2,"user":{"uri":"/CyberCoachServer/resources/users/user123/","username":"user123"},"sport":{"uri":"/CyberCoachServer/resources/sports/Running/","id":1,"name":"Running"},"entries":[{"entryrunning":{"uri":"/CyberCoachServer/resources/users/user123/Running/606/","id":606,"datecreated":1448761798000,"datemodified":1448761798000}}]}'
  recorded_at: Sun, 29 Nov 2015 03:28:32 GMT
- request:
    method: get
    uri: http://user123:@diufvm31.unifr.ch:8090/CyberCoachServer/resources/authenticateduser/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Basic
      Content-Type:
      - text/html;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: "<html>\n<head>\n<meta http-equiv=\"Content-Type\" content=\"text/html;
        charset=ISO-8859-1\"/>\n<title>Error 401 Unauthorized</title>\n</head>\n<body><h2>HTTP
        ERROR 401</h2>\n<p>Problem accessing /CyberCoachServer/resources/authenticateduser/.
        Reason:\n<pre>    Unauthorized</pre></p><hr /><i><small>Powered by Jetty://</small></i><br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n\n</body>\n</html>\n"
  recorded_at: Sun, 29 Nov 2015 03:28:32 GMT
- request:
    method: get
    uri: http://diufvm31.unifr.ch:8090/CyberCoachServer/resources/users/user123/running
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uri":"/CyberCoachServer/resources/users/user123/Running/","id":825,"datesubscribed":1447014940000,"publicvisible":2,"user":{"uri":"/CyberCoachServer/resources/users/user123/","username":"user123"},"sport":{"uri":"/CyberCoachServer/resources/sports/Running/","id":1,"name":"Running"},"entries":[{"entryrunning":{"uri":"/CyberCoachServer/resources/users/user123/Running/606/","id":606,"datecreated":1448761798000,"datemodified":1448761798000}}]}'
  recorded_at: Sun, 29 Nov 2015 03:28:32 GMT
recorded_with: VCR 2.9.3
