---
http_interactions:
- request:
    method: get
    uri: http://diufvm31.unifr.ch:8090/CyberCoachServer/resources/sports/running
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uri":"/CyberCoachServer/resources/sports/Running/","links":[{"href":"/CyberCoachServer/resources/sports/Running/?start=5&size=5","description":"next"}],"id":1,"name":"Running","description":"Running
        Sport Description","subscriptions":[{"uri":"/CyberCoachServer/resources/users/newuser1/Running/","id":1},{"uri":"/CyberCoachServer/resources/users/east707420151005191713090/Running/","id":6},{"uri":"/CyberCoachServer/resources/users/pascal/Running/","id":7},{"uri":"/CyberCoachServer/resources/users/andi/Running/","id":24},{"uri":"/CyberCoachServer/resources/users/trackingtest/Running/","id":26}]}'
  recorded_at: Thu, 10 Dec 2015 14:33:10 GMT
- request:
    method: get
    uri: http://diufvm31.unifr.ch:8090/CyberCoachServer/resources/sports/running
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uri":"/CyberCoachServer/resources/sports/Running/","links":[{"href":"/CyberCoachServer/resources/sports/Running/?start=5&size=5","description":"next"}],"id":1,"name":"Running","description":"Running
        Sport Description","subscriptions":[{"uri":"/CyberCoachServer/resources/users/newuser1/Running/","id":1},{"uri":"/CyberCoachServer/resources/users/east707420151005191713090/Running/","id":6},{"uri":"/CyberCoachServer/resources/users/pascal/Running/","id":7},{"uri":"/CyberCoachServer/resources/users/andi/Running/","id":24},{"uri":"/CyberCoachServer/resources/users/trackingtest/Running/","id":26}]}'
  recorded_at: Thu, 10 Dec 2015 14:33:11 GMT
recorded_with: VCR 2.9.3
