---
http_interactions:
- request:
    method: get
    uri: http://diufvm31.unifr.ch:8090/CyberCoachServer/resources/sports/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uri":"/CyberCoachServer/resources/sports/","start":0,"end":4,"available":4,"type":"sport","sports":[{"uri":"/CyberCoachServer/resources/sports/Running/","id":1,"name":"Running"},{"uri":"/CyberCoachServer/resources/sports/Cycling/","id":2,"name":"Cycling"},{"uri":"/CyberCoachServer/resources/sports/Soccer/","id":3,"name":"Soccer"},{"uri":"/CyberCoachServer/resources/sports/Boxing/","id":4,"name":"Boxing"}]}'
  recorded_at: Mon, 07 Dec 2015 15:06:18 GMT
- request:
    method: get
    uri: http://diufvm31.unifr.ch:8090/CyberCoachServer/resources/sports/?size=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uri":"/CyberCoachServer/resources/sports/","start":0,"end":4,"available":4,"type":"sport","sports":[{"uri":"/CyberCoachServer/resources/sports/Running/","id":1,"name":"Running"},{"uri":"/CyberCoachServer/resources/sports/Cycling/","id":2,"name":"Cycling"},{"uri":"/CyberCoachServer/resources/sports/Soccer/","id":3,"name":"Soccer"},{"uri":"/CyberCoachServer/resources/sports/Boxing/","id":4,"name":"Boxing"}]}'
  recorded_at: Mon, 07 Dec 2015 15:06:18 GMT
recorded_with: VCR 2.9.3
