---
http_interactions:
- request:
    method: get
    uri: http://diufvm31.unifr.ch:8090/CyberCoachServer/resources/partnerships/?size=5&start=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uri":"/CyberCoachServer/resources/partnerships/","links":[{"href":"/CyberCoachServer/resources/partnerships/?start=5&size=5","description":"next"}],"start":0,"end":5,"available":10734,"type":"partnerships","partnerships":[{"uri":"/CyberCoachServer/resources/partnerships/m1yvnb5tgkuh4wf9a;wvf6xu1oim75aytd382kjbgnqcphs/","id":10787},{"uri":"/CyberCoachServer/resources/partnerships/m1yvnb5tgkuh4wf9a;u58d1493nwzvym2xaq/","id":10786},{"uri":"/CyberCoachServer/resources/partnerships/wc79sjbl3ptuxmed6yfq;tdhcymo827965p4irbgneu3sjvwfkaqz0l1x/","id":10785},{"uri":"/CyberCoachServer/resources/partnerships/m1yvnb5tgkuh4wf9a;9aj26wnv0zqgu4eyp3f8dmolrcts7/","id":10784},{"uri":"/CyberCoachServer/resources/partnerships/963lhy4euwvdban7x;9aj26wnv0zqgu4eyp3f8dmolrcts7/","id":10783}]}'
  recorded_at: Mon, 07 Dec 2015 16:45:43 GMT
recorded_with: VCR 2.9.3
