---
http_interactions:
- request:
    method: get
    uri: http://diufvm31.unifr.ch:8090/CyberCoachServer/resources/partnerships/user123;user321
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uri":"/CyberCoachServer/resources/partnerships/user123;user321/","id":9349,"userconfirmed1":true,"userconfirmed2":true,"datecreated":1448741774000,"publicvisible":2,"user1":{"uri":"/CyberCoachServer/resources/users/user123/","username":"user123"},"user2":{"uri":"/CyberCoachServer/resources/users/user321/","username":"user321"},"subscriptions":[{"uri":"/CyberCoachServer/resources/partnerships/user123;user321/Running/","id":1901}]}'
  recorded_at: Sun, 29 Nov 2015 03:28:30 GMT
- request:
    method: get
    uri: http://user123:@diufvm31.unifr.ch:8090/CyberCoachServer/resources/authenticateduser/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Basic
      Content-Type:
      - text/html;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: "<html>\n<head>\n<meta http-equiv=\"Content-Type\" content=\"text/html;
        charset=ISO-8859-1\"/>\n<title>Error 401 Unauthorized</title>\n</head>\n<body><h2>HTTP
        ERROR 401</h2>\n<p>Problem accessing /CyberCoachServer/resources/authenticateduser/.
        Reason:\n<pre>    Unauthorized</pre></p><hr /><i><small>Powered by Jetty://</small></i><br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n<br/>
        \                                               \n<br/>                                                \n\n</body>\n</html>\n"
  recorded_at: Sun, 29 Nov 2015 03:28:30 GMT
[...]
- request:
    method: get
    uri: http://diufvm31.unifr.ch:8090/CyberCoachServer/resources/partnerships/user123;user321
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uri":"/CyberCoachServer/resources/partnerships/user123;user321/","id":9349,"userconfirmed1":true,"userconfirmed2":true,"datecreated":1448741774000,"publicvisible":2,"user1":{"uri":"/CyberCoachServer/resources/users/user123/","username":"user123"},"user2":{"uri":"/CyberCoachServer/resources/users/user321/","username":"user321"},"subscriptions":[{"uri":"/CyberCoachServer/resources/partnerships/user123;user321/Running/","id":1901}]}'
  recorded_at: Sun, 29 Nov 2015 03:28:30 GMT
recorded_with: VCR 2.9.3
