---
http_interactions:
- request:
    method: get
    uri: http://diufvm31.unifr.ch:8090/CyberCoachServer/resources/users/subscriber/boxing
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uri":"/CyberCoachServer/resources/users/subscriber/Boxing/","id":2429,"datesubscribed":1449715905929,"publicvisible":2,"user":{"uri":"/CyberCoachServer/resources/users/subscriber/","username":"subscriber"},"sport":{"uri":"/CyberCoachServer/resources/sports/Boxing/","id":4,"name":"Boxing"}}'
  recorded_at: Thu, 10 Dec 2015 02:59:25 GMT
- request:
    method: get
    uri: http://subscriber:password@diufvm31.unifr.ch:8090/CyberCoachServer/resources/authenticateduser/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uri":"/CyberCoachServer/resources/users/subscriber/","username":"subscriber","password":"*","realname":"Subscriber","email":"sub@scrib.er","datecreated":1449529350000,"publicvisible":2}'
  recorded_at: Thu, 10 Dec 2015 02:59:25 GMT
- request:
    method: delete
    uri: http://subscriber:password@diufvm31.unifr.ch:8090/CyberCoachServer/resources/users/subscriber/boxing
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><subscription
        datesubscribed="2015-12-10T03:51:45.929+01:00" id="2429" uri="/CyberCoachServer/resources/users/subscriber/Boxing/"><publicvisible>2</publicvisible><sport
        id="4" name="Boxing" uri="/CyberCoachServer/resources/sports/Boxing/"/><user
        username="subscriber" uri="/CyberCoachServer/resources/users/subscriber/"/></subscription>
  recorded_at: Thu, 10 Dec 2015 02:59:25 GMT
- request:
    method: get
    uri: http://diufvm31.unifr.ch:8090/CyberCoachServer/resources/users/subscriber/boxing
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: Resource not available. Either the user is not subscribed to this sport
        or you are not authorized to view this resource.
  recorded_at: Thu, 10 Dec 2015 02:59:25 GMT
recorded_with: VCR 2.9.3
