---
http_interactions:
- request:
    method: get
    uri: http://diufvm31.unifr.ch:8090/CyberCoachServer/resources/partnerships/?size=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uri":"/CyberCoachServer/resources/partnerships/","links":[{"href":"/CyberCoachServer/resources/partnerships/?start=0&size=0","description":"next"}],"start":0,"end":0,"available":10734,"type":"partnerships","partnerships":[]}'
  recorded_at: Mon, 07 Dec 2015 16:45:43 GMT
recorded_with: VCR 2.9.3
