---
http_interactions:
- request:
    method: get
    uri: http://diufvm31.unifr.ch:8090/CyberCoachServer/resources/users/user123
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uri":"/CyberCoachServer/resources/users/user123/","username":"user123","publicvisible":1,"partnerships":[{"uri":"/CyberCoachServer/resources/partnerships/user123;newuser26/","id":41},{"uri":"/CyberCoachServer/resources/partnerships/user123;user321/","id":9349}],"subscriptions":[{"uri":"/CyberCoachServer/resources/users/user123/Soccer/","id":412},{"uri":"/CyberCoachServer/resources/users/user123/Running/","id":1902},{"uri":"/CyberCoachServer/resources/users/user123/Boxing/","id":1904}]}'
  recorded_at: Thu, 10 Dec 2015 14:33:12 GMT
- request:
    method: get
    uri: http://user123:@diufvm31.unifr.ch:8090/CyberCoachServer/resources/users/user123
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uri":"/CyberCoachServer/resources/users/user123/","username":"user123","publicvisible":1,"partnerships":[{"uri":"/CyberCoachServer/resources/partnerships/user123;newuser26/","id":41},{"uri":"/CyberCoachServer/resources/partnerships/user123;user321/","id":9349}],"subscriptions":[{"uri":"/CyberCoachServer/resources/users/user123/Soccer/","id":412},{"uri":"/CyberCoachServer/resources/users/user123/Running/","id":1902},{"uri":"/CyberCoachServer/resources/users/user123/Boxing/","id":1904}]}'
  recorded_at: Thu, 10 Dec 2015 14:33:12 GMT
recorded_with: VCR 2.9.3
