---
http_interactions:
- request:
    method: get
    uri: http://diufvm31.unifr.ch:8090/CyberCoachServer/resources/users/brandnewuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: User "brandnewuser" does not exist.
  recorded_at: Mon, 07 Dec 2015 16:20:50 GMT
- request:
    method: put
    uri: http://diufvm31.unifr.ch:8090/CyberCoachServer/resources/users/brandnewuser
    body:
      encoding: UTF-8
      string: "<user><password>password</password><realname>A real name</realname><email>email@address.com</email><publicvisible>2</publicvisible></user>"
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uri":"/CyberCoachServer/resources/users/brandnewuser/","username":"brandnewuser","password":"*","realname":"A
        real name","email":"email@address.com","datecreated":1449504807251,"publicvisible":2}'
  recorded_at: Mon, 07 Dec 2015 16:20:50 GMT
- request:
    method: get
    uri: http://diufvm31.unifr.ch:8090/CyberCoachServer/resources/users/brandnewuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uri":"/CyberCoachServer/resources/users/brandnewuser/","username":"brandnewuser","password":"*","realname":"A
        real name","email":"email@address.com","datecreated":1449504807251,"publicvisible":2}'
  recorded_at: Mon, 07 Dec 2015 16:20:51 GMT
recorded_with: VCR 2.9.3
