---
http_interactions:
- request:
    method: get
    uri: http://diufvm31.unifr.ch:8090/CyberCoachServer/resources/partnerships/partner3;partner2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"uri":"/CyberCoachServer/resources/partnerships/partner3;partner2/","id":10959,"userconfirmed1":true,"userconfirmed2":true,"datecreated":1449513425866,"publicvisible":2,"user1":{"uri":"/CyberCoachServer/resources/users/partner3/","username":"partner3"},"user2":{"uri":"/CyberCoachServer/resources/users/partner2/","username":"partner2"}}'
  recorded_at: Mon, 07 Dec 2015 18:52:49 GMT
recorded_with: VCR 2.9.3
